APP_URL=http://localhost:8000
TOKEN_EXPIRE_TIME=30
MAIL_VAL_EXPIRE_TIME=30
RESET_PW_CODE_EXPIRE_TIME=5

# MySQL Database
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=my_database
DB_USER=mysql
DB_PASSWORD=mysql

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=0

# Google SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASSWORD=your-app-password
SMTP_FROM=noreply@yourdomain.com

# Storage
STORAGE_BASE_PATH=storage/app/private/files
STORAGE_RECALCULATION_PERIOD=604800
